* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-image: url(assets/cellphone-usb-cable-spectacles-scissors-potted-plant-bottom-white-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#nome {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 105px;
    font-family: fancy;
}

.sobre {
  display: block;  
  background-image: url(assets/WhatsApp\ Image\ 2026-05-05\ at\ 16.51.05.jpeg);
  width: 320px;
  height: 370px;
  position: relative;
  top: 180px;
  left: 150px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

#tSobre {
  color: white;
  font-size: 23px;
  position: relative;
  left: 30px;
  top: 25px;
  font-family:Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
   transform: translateY(-5px);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.356);
}

@font-face {
    font-family: "Fancy";
    src: url("assets/PoiretOne-Regular.ttf") format("truetype");
}
